@use "mixins" as *;
@use "variables" as *;

:host {
  width: 100%;
}

main {
  @include flex(column, center, stretch, 2rem);
  width: min(1132px, 90%);
  margin: auto;
  padding: 1rem 0;

  @media (min-width: 768px) {
    // background-color: black;
    @include flex(row, flex-start, stretch, 2rem);
  }
}

.added-to-cart {
  border: 2px solid $red;
}

.order-total {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 45px;

  .value {
    font-size: 20px;
    font-weight: bold;
  }
}
.delivery-content {
  display: flex;
  justify-content: center;
  background-color: $rose-50;
  width: 100%;
  border-radius: 5px;
  margin-top: 20px;
  padding: 10px;

  .delivery-message {
    display: flex;
    align-items: center;
    gap: 5px;
  }
}

.confirm-order {
  width: 100%;
  color: white;
  font-size: 17px;
  padding: 15px;
  background-color: $red;
  margin-top: 25px;
  border-radius: 50px;
}

.desserts {
  @include flex(column, flex-start, stretch, 2rem);
  width: 100%;
  height: 100%;

  h1 {
    @include TextPreset1;
    color: $rose-900;
  }
}

.is-in-cart {
  border: 2px solid $red;
}

// dessert section
.desserts-container {
  @include flex(column, center, stretch, 1.5rem);

  @media (min-width: 768px) {
    @include flex(row, flex-start, stretch, 1.5rem);
  }

  flex-wrap: wrap;
  width: 100%;
  height: 100%;

  .dessert-item {
    @include flex(column, flex-start, stretch, 2rem);
    width: 100%;
    height: fit-content;

    @media (min-width: 768px) {
      width: 213px;
    }

    .item-image-add-to-cart {
      @include flex(column);

      img {
        aspect-ratio: 1;
        border-radius: 10px;
        object-fit: cover;
      }
    }

    .item-info {
      .category {
        @include TextPreset4;
      }
      .name,
      .price {
        @include TextPreset3;
      }
      .price {
        color: $red;
      }
    }
  }
}
// cart section
.cart {
  width: 320px;
  height: fit-content;
  flex: 1 0 380px;
  padding: 1rem;
  background-color: $white;
  border-radius: 10px;

  h2 {
    @include TextPreset2;
    color: $red;
  }

  .content {
    width: 100%;
    height: fit-content;

    .empty-cart-content {
      @include flex(column, center, center);
      width: 100%;

      p {
        @include TextPreset4Bold;
        color: $rose-500;
      }
    }
  }
}
